# Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# NuGet
*.nupkg
*.snupkg
**/packages/
project.lock.json
project.fragment.lock.json
artifacts/

# .NET
*.dll
*.exe
*.pdb
*.cache
project.assets.json
*.runtimeconfig.json
*.runtimeconfig.dev.json

# User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Misc
*.log
*.vspscc
*.vssscc
.DS_Store
Thumbs.db
